.inv {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1.25fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "equipped stats"
  "items items";

  width: min(80vw, 1000px);
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .25em solid black;
  gap: .25em;
  background-color: black;
}

.inv-items {
  grid-area: items;
  background-color: #232323;
  overflow: auto;
}
.inv-items::-webkit-scrollbar {
  height: 1em;
  width: 1em;
}
.inv-items::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: .5em;
  /* box-shadow: inset .25em .25em .25em hsl(0deg 0% 100% / 25%), 
    inset -.25em -.25em .25em rgb(0 0 0 / 25%); */
  background-clip: content-box;
  border: .25em solid transparent;
}

.inv-items::-webkit-scrollbar-thumb:hover {
  background-color: #585858;
}

.inv-items::-webkit-scrollbar-track {
  background-color: #111;
  border-left: .2em solid white;
  box-sizing: border-box;
}

.inv-item-list {
  --margin-width: .25em;
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}


td, th {
  padding: .25em;
  color: white;
  background-color: #232323;
  border-bottom: .1em solid white;
}

tbody tr:last-child td {
  border-bottom: none;
}

tr:hover td {
  background-color: #a5a5a5;
}

th {
  font-size: 1.1em;
  text-align: start;
}

td {
  cursor: pointer;
}

.inv-equipped {
  grid-area: equipped;
  background-color: bisque;
}

.inv-stats {
  grid-area: stats;
  background-color: red;
}