.inv {
  --panel-background-color: #232323;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1.25fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "equipped stats"
  "items items";

  width: min(80vw, 1000px);
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .25em solid black;
  gap: .25em;
  background-color: black;
  color: white;
}

.inv h3 {
  text-align: center;
  font-size: 1.5em;
  padding: .25em;
  border-bottom: .1em white solid;
}

.inv-items {
  grid-area: items;
  background-color: var(--panel-background-color);
  overflow: auto;
}
.inv-items::-webkit-scrollbar {
  height: 1em;
  width: 1em;
}
.inv-items::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: .5em;
  background-clip: content-box;
  border: .25em solid transparent;
}

.inv-items::-webkit-scrollbar-thumb:hover {
  background-color: #585858;
}

.inv-items::-webkit-scrollbar-track {
  background-color: #111;
  border-left: .2em solid white;
  box-sizing: border-box;
}

.inv table {
  --margin-width: .25em;
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}


td, th {
  padding: .25em;
  background-color: var(--panel-background-color);
  border-bottom: .1em solid white;
}

tbody tr:last-child td {
  border-bottom: none;
}

tr:hover td {
  background-color: #a5a5a5;
}

th {
  font-size: 1.1em;
  text-align: start;
}

td {
  cursor: pointer;
}

.inv-equipped {
  grid-area: equipped;
  background-color: var(--panel-background-color);
}

.inv-stats {
  grid-area: stats;
  background-color: var(--panel-background-color);
}