*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --game-width: calc(min(100vh, 100vw));
  --game-height: calc(var(--game-width) * 1.2);
  --game-sprite-size: calc(min(var(--game-height), var(--game-width)) * 0.1);
}

.game-area {
  width: var(--game-width);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: var(--game-height);
}
.game-area > div {
  background-color: #333;
  border: 2px solid black;
  position: relative;
}
.game-area > div > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: var(--game-sprite-size);
}

@media screen and (min-width: 750px) {
  :root {
    --game-height: var(--game-width);
  }
}